body,
html {
    margin: 0;
    padding: 0;
}

.Main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.Box {
    width: 1230px;
    height: 873px;
    background-color: black;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Chat {
    margin-left: 60px;
    margin-top: 40px;
    display: inline-flex;
}

.A {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
}

.B {
    margin-left: 30px;
    margin-top: 5px;
    color: white;
}

.C {
    margin-top: 11px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: gray;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    text-indent: 12pt;
}

.D {
    margin-left: 6px;
    display: flex;
    align-items: flex-end;
}

.E {
    display: flex;
}
